.container-exit {
    background-image: url(images/theend.gif);

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: auto;
    width: auto;
    text-align: center;
    max-width: 100%;
  }

body {
    background-image: url(images/DoD-gif.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "IM Fell English", serif;
    margin-top: 0%;
    margin-bottom: 10px;
}

button {
    background-color: transparent;
    border: none;
}

form {
    text-align: center;
}

.form-front {
    margin: 0;
}

table {
    border: none;
    /*background-image: url(images/bgpop.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    /*display: block;*/
    display: flex;
    margin: 70px;
    margin-top: 2%;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 65%;
}

img {
    margin-bottom: 25px;
}

.img-card1 {
    display: block;
    margin-left: 60px;
    margin-right: 20px;
    text-align: center;
}

.img-card2 {
    display: block;
    margin-right: 50px;
    text-align: center;
}

.img-card3 {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

#design-beside-card {
    float:right;
    margin-right: 35px;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    /*padding-top: 100px;*/
}

p {
    text-align: center;
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
}

.front-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 7%;
    width: 65%;
    text-align: center;
}

.form-group {
    text-align: center;
    font-family: "IM Fell English", serif;
    font-size: 25px;
}


.btn-front-play {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    height: 30px;
}

.btn-front-mechanics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 0%;
    text-align: center;
}

.btn-front-exit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 1.7%;
    text-align: center;
}

/*.btn-front {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 15%;
    text-align: center;
}*/

.btn {
    background-color: crimson;
    border-radius: 25px;
    text-align: center;
    font-family: "IM Fell English", serif;
    font-size: 90px;
    color:gainsboro;
}

input {
    text-align: center;
    font-family: "IM Fell English", serif;
    font-size: 65px;
    color: gainsboro;
}

.rb {
    text-align: justify;
    font-family: "IM Fell English", serif;
    font-weight: 90;
    font-size: 50px;
    color: gainsboro;
    padding-left: 5%;

}

.rb-easy {
    padding-left: 5%;
}

.rb-mid {
    text-align: center;
    font-family: "IM Fell English", serif;
    font-weight: 90;
    font-size: 50px;
    color: gainsboro;
}

.rb-hard {
    text-align: center;
    font-family: "IM Fell English", serif;
    font-weight: 90;
    font-size: 50px;
    color: gainsboro;
}

.result {
    text-align: left;
    margin-left: 70px;
    font-family: "IM Fell English", serif;
    font-weight: 90;
    font-size: 50px;
}

.lives {
    text-align: right;
    margin-top: 20px;
    margin-right: 25px;
    font-family: "IM Fell English", serif;
    font-weight: 90;
    font-style: normal;
    font-size: 40px;
    background-attachment: fixed;
}

.btn-next {
    border: 10px;
    padding: 10px;
    margin-bottom: 25px;
    background-color: crimson;
    font-family: "IM Fell English", serif;
    font-size: 20px;
}

.btn-deal {
    background-color: transparent;
    border: none;
    font-size: 40px;
    text-align: left;
    margin-left: 65px;
    font-weight: 90;
}

.btn-dead {
    background-color: transparent;
    border: none;
    font-size: 40px;
    text-align: left;
    margin-left: 65px;
    font-weight: 90;
}

.img-or {
    background-color: transparent;
    border: none;
    font-size: 40px;
    text-align: left;
    margin-left: 65px;
    font-weight: 90;
}

.btn-higher {
    background-color: transparent;
    border: none;
    font-family: "IM Fell English", serif;
    color: black;
    font-size: 80px;
    text-align: left;
    margin-left: 65px;
    font-weight: 90;
}

.btn-lower {
    background-color: transparent;
    border: none;
    font-family: "IM Fell English", serif;
    color: crimson;
    font-size: 80px;
    text-align: left;
    margin-left: 65px;
    font-weight: 90;
}

.p-won {
    text-align: center;
    font-family: "IM Fell English", serif;
    font-weight: 90;
    font-style: normal;
    font-size: 150px;
    color: crimson;
}

.p-lost {
    text-align: center;
    font-family: "IM Fell English", serif;
    font-weight: 90;
    font-style: normal;
    font-size: 150px;
    color: crimson;
}
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: "IM Fell English", serif;
    font-weight: 90;
    font-style: normal;
    font-size: 150px;
    color: crimson;
    background-size: cover;
    display: inline-block;
  }
  
  .btn-continue {
    font-family: "IM Fell English", serif;
    border: 10px;
    padding: 10px;
    margin-bottom: 25px;
    background-color: crimson;
  }

  .btn-back {
    font-family: "IM Fell English", serif;
    float: center;
    border: 10px;
    padding: 10px;
    padding-right: 35px;
    padding-left: 35px;
    margin-bottom: 25px;
    background-color: crimson;
  }

    .container-rounds {
        text-align: center;
        padding-top: 7%;
  }

  /*.bg-exit { 
    width: 120%;
    height: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "IM Fell English", serif;
    display: block;
  }*/

#img-card3 {
    display: none;
}